<div class="container">
  <br/>
  <br/>
  <div class="row text-center">
    <h4>Todo List</h4>
  </div>
  <br/>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <mat-card>
        <div class="d-flex justify-content-between">
          <input class="form-control mb-2" style="width: 300px" (keyup)="filter($event)" placeholder="Filter by content" type="text">
          <button class="btn btn-sm btn-success mb-2" (click)="openModal()"><span class="material-icons">add</span></button>
        </div>
        <table class="table table-hover table-bordered nowrap text-center">
          <thead>
          <tr>
              <th></th>
              <th>№</th>
              <th>Title</th>
              <th>Content</th>
              <th></th>
              <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let todo of todoList; let i = index;">
            <td (click)="$event.stopPropagation()">
              <div class="custom-control custom-checkbox">
                  <input [(ngModel)]="todo.isSelected"
                         (ngModelChange)="updateStatus(todo)"
                         type="checkbox"
                         class="custom-control-input"
                         id="customCheck{{i}}">
                  <label class="custom-control-label cursor-pointer"
                         for="customCheck{{i}}">&nbsp;</label>
              </div>
            </td>
            <td class="text-center">
              {{(i + 1)}}
            </td>
              <td>
                  {{ todo.title }}
              </td>
              <td [ngClass]="{'doneStatus': todo.done}">
                  {{ todo.content}}
              </td>
              <td><button class="btn btn-sm" (click)="update(todo)"><span class="material-icons text-success">mode</span></button></td>
              <td><button class="btn btn-sm" (click)="delete(todo.id)"><span class="material-icons text-danger">restore_from_trash</span></button></td>
          </tr>
          </tbody>
      </table>
    </mat-card>
    </div>
    <div class="col-2"></div>
  </div>
</div>
