<div>
  <div class="text-center">
    <h4>{{updateBtn?'Update todo form':'Add todo form'}}</h4>
  </div>
  <br/>
  <br/>
  <div>
    <form  [formGroup]="form" (ngSubmit)="submit(updateBtn)">
     <div class="row">
       <div class="col-6">
         <label for="title">Title</label>
        <input class="form-control" type="text" formControlName="title">
       </div>
       <div class="col-6">
        <label for="content">Content</label>
        <input class="form-control" type="text" formControlName="content">
       </div>       
     </div>
     <br/>

      <div class="mt-2 d-flex justify-content-center">
        <button class="btn btn-md btn-success" type="submit">{{updateBtn?'Update':'Save'}}</button>
        <button class="btn btn-md btn-secondary" type="button" (click)="cancel()">Cancel</button>
      </div>

    </form>
  </div>
</div>

